@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body { background-color: #EEE8AA ;
color: #0f241e;


font-size: 16px;
font-weight: normal;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h1 { color: goldenrod}
h2 { color: goldenrod}

.avatar {
    width: 200px;
    border-radius: 50%;
    box-shadow: 4px 4px 14px;
}
.info p{
    color: #B8860B;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}